/* raleway-700 - logo font*/
@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/raleway-v28-latin-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/raleway-v28-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff"), url("../fonts/raleway-v28-latin-700.ttf") format("truetype"), url("../fonts/raleway-v28-latin-700.svg#Raleway") format("svg"); /* Legacy iOS */
}
/* roboto-regular - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-500.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-700.svg#Roboto") format("svg"); /* Legacy iOS */
}
/* roboto-900 - latin_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/roboto-v30-latin_cyrillic-ext_cyrillic-900.svg#Roboto") format("svg"); /* Legacy iOS */
}
:root {
  --clr-white: #fff;
  --bg-clr-black: #2f303a;
  --bg-clr-grey: #f5f4fa;
  --txt-clr-main: #757575;
  --txt-clr-title: #212121;
  --txt-clr-white: #fff;
  --accent-clr-blue: #2196f3;
  --border-clr: #ececec;
  --icon-clr-grey: #afb1b8;
  --ff-main: "Roboto";
  --ff-logo: "Raleway";
  --fs-main: 14px;
  --fs-small: 12px;
  --fs-secondary: 16px;
  --fs-project-title: 18px;
  --fs-logo-1200px: 26px;
  --fs-logo-main: 24px;
  --fs-header: 36px;
  --fs-hero: 44px;
  --fw-main: 400;
  --fw-medium: 500;
  --fw-filter-button: 500;
  --fw-title: 700;
  --fw-button: 700;
  --fw-hero: 900;
  --trans-func: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -moz-tab-size: 4; /* 3 */
  -o-tab-size: 4;
     tab-size: 4; /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0; /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji"; /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0; /* 1 */
  color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0; /* 1 */
  border-color: inherit; /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-main);
  color: var(--txt-clr-main);
  background-color: var(--clr-white);
  letter-spacing: 0.03em;
  line-height: 1.2;
  text-rendering: optimizeSpeed;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-size: inherit;
  color: var(--txt-clr-title);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section--hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img.jpg");
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
}
.section--features {
  padding-bottom: 0;
}
.section--team {
  background-color: var(--bg-clr-grey);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}
.container--header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container--footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  gap: 93px;
}

.section-title {
  font-size: var(--fs-header);
  text-align: center;
  margin-bottom: 50px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity var(--trans-func);
  transition: opacity var(--trans-func);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-family: inherit;
  font-size: var(--fs-secondary);
  font-weight: var(--fw-button);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--txt-clr-white);
  height: 50px;
  min-width: 200px;
  padding-inline: 30px;
  margin-inline: auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-clr-blue);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform var(--trans-func), -webkit-box-shadow var(--trans-func);
  transition: -webkit-transform var(--trans-func), -webkit-box-shadow var(--trans-func);
  transition: transform var(--trans-func), box-shadow var(--trans-func);
  transition: transform var(--trans-func), box-shadow var(--trans-func), -webkit-transform var(--trans-func), -webkit-box-shadow var(--trans-func);
}
.button:active {
  -webkit-transform: scale(0.99);
          transform: scale(0.99);
  -webkit-box-shadow: none;
          box-shadow: none;
}
.button__icon {
  width: 24px;
  height: 24px;
  fill: var(--clr-white);
}

.logo {
  font-family: var(--ff-logo), sans-serif;
  font-size: var(--fs-logo-main);
  font-weight: var(--fw-title);
  line-height: 1.17;
}
@media screen and (min-width: 768px) {
  .logo {
    position: static;
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: var(--fs-logo-1200px);
  }
}

.logo__accent {
  color: var(--accent-clr-blue);
}

.logo--header {
  color: var(--txt-clr-title);
}
@media screen and (max-width: 767px) {
  .logo--header {
    position: absolute;
    top: 16px;
    left: 15px;
  }
}

.logo--footer {
  color: var(--txt-clr-white);
}

.modal {
  width: 528px;
  height: 581px;
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: var(--clr-white);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: opacity var(--trans-func);
  transition: opacity var(--trans-func);
}
.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--clr-white);
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__close-icon {
  display: block;
  margin: auto;
  fill: #000;
  width: 12px;
  height: 12px;
  -webkit-transition: fill var(--trans-func);
  transition: fill var(--trans-func);
}
.modal__close-button:hover .modal__close-icon, .modal__close-button:focus .modal__close-icon {
  fill: var(--accent-clr-blue);
}

.social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin: 0 auto;
}
.social-media__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--clr-white);
  border-radius: 50%;
  fill: var(--icon-clr-grey);
  -webkit-transition: fill var(--trans-func), background-color var(--trans-func);
  transition: fill var(--trans-func), background-color var(--trans-func);
}
.social-media__link:hover, .social-media__link:focus {
  background-color: var(--accent-clr-blue);
  fill: var(--clr-white);
  outline: none;
}
.social-media__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--clr-white);
}

.form__wraper {
  margin-bottom: 20px;
}
.form__title {
  display: block;
  font-size: 20px;
  color: var(--txt-clr-title);
  text-align: center;
  line-height: 1.17em;
  margin-bottom: 12px;
}
.form__input-group {
  position: relative;
}
.form__input-group:not(:last-child) {
  margin-bottom: 10px;
}
.form__label {
  display: block;
  font-size: 12px;
  line-height: 1.17em;
  margin-bottom: 4px;
  cursor: pointer;
}
.form__input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  padding-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: unset;
  -webkit-transition: border var(--trans-func);
  transition: border var(--trans-func);
}
.form__input:-webkit-autofill, .form__input:-webkit-autofill:hover, .form__input:-webkit-autofill:focus, .form__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--clr-white) inset !important;
}
.form__message {
  display: block;
  padding: 16px;
  resize: none;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: unset;
  -webkit-transition: border-color var(--trans-func);
  transition: border-color var(--trans-func);
}
.form__message::-webkit-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.form__message::-moz-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.form__message:-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.form__message::-ms-input-placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.form__message::placeholder {
  font-size: 12px;
  color: rgba(117, 117, 117, 0.5);
}
.form__icon {
  fill: var(--txt-clr-title);
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 10px;
  -webkit-transition: fill var(--trans-func);
  transition: fill var(--trans-func);
}
.form__input:focus, .form__message:focus {
  border-color: var(--accent-clr-blue);
}
.form__input:focus + .form__icon {
  fill: var(--accent-clr-blue);
}
.form__agreement {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}
.form__checkbox {
  display: inline-block;
  outline: unset;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  width: 16px;
  height: 16px;
  border: 2px Solid #212121;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 0;
  -webkit-transition: border-color var(--trans-func), background-color var(--trans-func), background-size var(--trans-func);
  transition: border-color var(--trans-func), background-color var(--trans-func), background-size var(--trans-func);
}
.form__checkbox:hover {
  border-color: var(--accent-clr-blue);
}
.form__checkbox:checked {
  border-color: var(--accent-clr-blue);
  background-color: var(--accent-clr-blue);
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
  background-size: 11px 8px;
}
.form__checkbox-desc {
  cursor: pointer;
  display: inline-block;
  line-height: 1.71;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.form__link {
  color: var(--accent-clr-blue);
  text-decoration: underline;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
}

.header {
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    position: static;
    padding: 21px 0;
    border-bottom: 1px solid var(--border-clr);
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0;
    border-bottom: 1px solid var(--border-clr);
  }
}

.header-menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 48px 40px;
  -webkit-transform: translateX(100vw);
          transform: translateX(100vw);
  background-color: var(--clr-white);
}
@media screen and (min-width: 768px) {
  .header-menu {
    position: static;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-left: 87px;
    padding: 0;
    height: auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@media screen and (min-width: 1200px) {
  .header-menu {
    margin-left: 93px;
  }
}

.header-menu.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 32px;
}
@media screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 50px;
  }
}

.header-nav__link {
  font-size: 40px;
  font-weight: var(--fw-medium);
  color: var(--txt-clr-title);
}
@media screen and (min-width: 768px) {
  .header-nav__link {
    font-size: var(--fs-main);
    color: var(--txt-clr-title);
    letter-spacing: 0.02em;
    font-weight: var(--fw-medium);
    -webkit-transition: color var(--trans-func);
    transition: color var(--trans-func);
  }
}

.header-nav__link:hover,
.header-nav__link:focus {
  color: var(--accent-clr-blue);
}

.header-contacts {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 32px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}
@media screen and (min-width: 768px) {
  .header-contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 30px;
    margin-left: auto;
  }
}

.header-contacts__link {
  font-size: 34px;
  font-weight: var(--fw-medium);
  -webkit-transition: color var(--trans-func);
  transition: color var(--trans-func);
  color: var(--accent-clr-blue);
}
@media screen and (min-width: 768px) {
  .header-contacts__link {
    font-size: var(--fs-small);
    color: var(--txt-clr-main);
    font-weight: var(--fw-medium);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link {
    font-size: var(--fs-main);
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__link:hover,
.header-contacts__link:focus,
.header-contacts__link:active {
    color: var(--accent-clr-blue);
  }
}

.header-contacts__link--mail {
  font-size: 24px;
  color: var(--txt-clr-main);
}
@media screen and (min-width: 768px) {
  .header-contacts__link--mail {
    font-size: var(--fs-small);
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__link--mail {
    font-size: var(--fs-main);
  }
}

.header-contacts__link:hover,
.header-contacts__link:focus {
  color: var(--accent-clr-blue);
}

.header-contacts__icon {
  display: none;
  fill: currentColor;
  -webkit-transition: fill var(--trans-func);
  transition: fill var(--trans-func);
}
@media screen and (min-width: 768px) {
  .header-contacts__icon {
    display: block;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__icon--envelope {
    width: 14px;
    height: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon--envelope {
    width: 16px;
    height: 12px;
  }
}

@media screen and (min-width: 768px) {
  .header-contacts__icon--phone {
    width: 10px;
    height: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .header-contacts__icon--phone {
    width: 10px;
    height: 16px;
  }
}

.header-socials {
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (min-width: 768px) {
  .header-socials {
    display: none;
  }
}

.header-socials__item {
  height: 22px;
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.header-socials__item:last-child {
  padding-right: 0;
  margin-right: 0;
  border-right: none;
}

.header-socials__link {
  color: var(--accent-clr-blue);
  font-weight: var(--fw-medium);
  font-size: 18px;
  line-height: 1.2222222222;
}

.header-menu__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
  color: var(--txt-clr-title);
  fill: currentColor;
}
@media screen and (min-width: 768px) {
  .header-menu__button {
    display: none;
  }
}

.header-menu__button:hover,
.header-menu__button:focus {
  color: var(--accent-clr-blue);
}

.header-menu__button .menu-icon__cross {
  display: none;
}

.header-menu__button.is-open .menu-icon__cross {
  display: block;
}

.header-menu__button.is-open .menu-icon__burger {
  display: none;
}

.header-menu__button.is-open .logo--header {
  display: none;
}

.current {
  color: var(--accent-clr-blue);
}
.current::before {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 100vh;
  background-color: var(--accent-clr-blue);
  position: relative;
  top: 47px;
}
@media screen and (max-width: 767px) {
  .current::before {
    display: none;
  }
}

.footer {
  background-color: var(--bg-clr-black);
  padding: 60px 0;
  /* FOOTER.JOIN US  */
  /*******************/
  /* FOOTER.FORM  */
  /****************/
}
.footer-contacts {
  margin-top: 20px;
}
.footer-contacts__item {
  margin-bottom: 9px;
}
.footer-contacts__item--last {
  margin-bottom: 0px;
}
.footer-contacts__link {
  line-height: 1.5;
  display: block;
  color: var(--txt-clr-main);
  -webkit-transition: color var(--trans-func);
  transition: color var(--trans-func);
}
.footer-contacts__link--address {
  color: var(--txt-clr-white);
}
.footer-contacts__link:hover, .footer-contacts__link:focus {
  color: var(--accent-clr-blue);
}
.footer-title {
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--txt-clr-white);
  font-weight: var(--fw-title);
  margin-bottom: 20px;
}
.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 12px;
}
.footer__input {
  width: 358px;
  height: 50px;
  padding-inline: 16px;
  background-color: transparent;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  outline: unset;
  color: var(--txt-clr-white);
  -webkit-transition: border var(--trans-func);
  transition: border var(--trans-func);
}
.footer__input:focus {
  border-color: var(--accent-clr-blue);
}
.footer__input:-webkit-autofill, .footer__input:-webkit-autofill:hover, .footer__input:-webkit-autofill:focus, .footer__input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--bg-clr-black) inset !important;
  -webkit-text-fill-color: var(--txt-clr-white);
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin: 0 auto;
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero-img.jpg");
  background-image: linear-gradient(to left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero-img.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.hero__title {
  max-width: 740px;
  margin-inline: auto;
  margin-bottom: 30px;
  text-align: center;
  color: var(--txt-clr-white);
  font-size: var(--fs-hero);
  line-height: 1.36;
  font-weight: var(--fw-hero);
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.features__item {
  max-width: calc((100% - 90px) / 4);
}
.features__title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__desc {
  line-height: 1.71;
}
.features__icon-wraper {
  background-color: var(--bg-clr-grey);
  border-radius: 4px;
  padding: 25px;
  text-align: center;
  margin-bottom: 30px;
}

.services {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.services__item {
  position: relative;
}
.services__title {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: var(--txt-clr-white);
  font-weight: var(--fw-title);
  background-color: rgba(47, 48, 58, 0.8);
}

.team {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.team__card {
  background-color: var(--clr-white);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.team__member {
  text-align: center;
  padding: 30px 0;
}
.team__name {
  font-size: var(--fs-secondary);
  margin-bottom: 10px;
}
.team__job {
  font-size: var(--fs-secondary);
  margin-bottom: 16px;
}

.customers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}
.customers__link {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  border: 1px solid var(--icon-clr-grey);
  border-radius: 4px;
  min-width: 170px;
  text-align: center;
  fill: var(--icon-clr-grey);
  -webkit-transition: fill var(--trans-func), border var(--trans-func);
  transition: fill var(--trans-func), border var(--trans-func);
}
.customers__link:hover, .customers__link:focus {
  border-color: var(--accent-clr-blue);
  fill: var(--accent-clr-blue);
}

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  margin-bottom: 50px;
}
.filters__button {
  font-weight: var(--fw-filter-button);
  background-color: var(--bg-clr-grey);
  color: var(--txt-clr-title);
  padding-inline: 22px;
  height: 38px;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  -webkit-transition: background-color var(--trans-func), color var(--trans-func), -webkit-box-shadow var(--trans-func);
  transition: background-color var(--trans-func), color var(--trans-func), -webkit-box-shadow var(--trans-func);
  transition: background-color var(--trans-func), color var(--trans-func), box-shadow var(--trans-func);
  transition: background-color var(--trans-func), color var(--trans-func), box-shadow var(--trans-func), -webkit-box-shadow var(--trans-func);
}
.filters__button:hover, .filters__button:focus {
  background-color: var(--accent-clr-blue);
  color: var(--txt-clr-white);
  -webkit-box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  outline: none;
}
.filters__button:active {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.projects__desc {
  position: relative;
  max-width: 370px;
  max-height: 294px;
  -webkit-transition: -webkit-box-shadow var(--trans-func);
  transition: -webkit-box-shadow var(--trans-func);
  transition: box-shadow var(--trans-func);
  transition: box-shadow var(--trans-func), -webkit-box-shadow var(--trans-func);
  overflow: hidden;
}
.projects__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition: -webkit-transform var(--trans-func);
  transition: -webkit-transform var(--trans-func);
  transition: transform var(--trans-func);
  transition: transform var(--trans-func), -webkit-transform var(--trans-func);
}
.projects__link:hover .projects__overlay, .projects__link:focus .projects__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.projects__link {
  display: block;
  -webkit-transition: -webkit-box-shadow var(--trans-func);
  transition: -webkit-box-shadow var(--trans-func);
  transition: box-shadow var(--trans-func);
  transition: box-shadow var(--trans-func), -webkit-box-shadow var(--trans-func);
}
.projects__link:hover, .projects__link:focus {
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.projects__main-info {
  padding: 20px 24px;
  border: 1px solid var(--border-clr);
  outline: none;
}
.projects__title {
  margin-bottom: 4px;
  line-height: 2;
  font-size: var(--fs-project-title);
  letter-spacing: 0.06em;
}
.projects__text {
  font-size: 18px;
  color: var(--clr-white);
  line-height: 1.56;
}
.projects__type {
  font-size: var(--fs-secondary);
  color: var(--txt-clr-main);
  line-height: 1.88;
}/*# sourceMappingURL=main.css.map */