.button {
  @include flex();
  gap: 10px;
  font-family: inherit;
  font-size: var(--fs-secondary);
  font-weight: var(--fw-button);
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--txt-clr-white);

  height: 50px;
  min-width: 200px;
  padding-inline: 30px;
  margin-inline: auto;
  cursor: pointer;

  border: none;
  border-radius: 4px;
  background-color: var(--accent-clr-blue);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  transition: transform var(--trans-func), box-shadow var(--trans-func);

  &:active {
    transform: scale(0.99);
    box-shadow: none;
  }

  &__icon {
    width: 24px;
    height: 24px;
    fill: var(--clr-white);
  }
}
