.section {
  min-width: 300px;
  padding-top: 60px;
  padding-bottom: 60px;
  @media (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section--hero {
  padding: 118px 0;

  @media (min-width: 1200px) {
    padding: 200px 0;
  }
}

.section--features {
  @media (min-width: 1200px) {
    padding-bottom: 0;
  }
}

.section--services {
  display: none;
  @media (min-width: 1200px) {
    display: block;
  }
}

.section--team {
  background-color: var(--bg-clr-grey);
}
