.services {
  display: flex;
  column-gap: 30px;

  &__item {
    position: relative;
  }

  &__title {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    @include flex();
    text-transform: uppercase;
    color: var(--txt-clr-white);
    font-weight: var(--fw-title);
    background-color: rgba(47, 48, 58, 0.8);
  }
}
